*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Roboto', monospace;

  --fs-primary: 15px;
  --fs-secondary: 12px;
  --fs-title: 18px;

  --fw-reg: 500;
  --fw-bold: 800;

  --clr-dark: rgb(24, 23, 23);
  --clr-light: rgba(240, 240, 247, 0.966);
  --clr-blue: rgb(25, 25, 151);
  --clr-red: rgb(230, 21, 21);

  --clr-shadow: rgba(36, 35, 35, 0.082);
}
